torch
torchsde
torchvision
einops
transformers>=4.25.1
safetensors>=0.4.2
aiohttp
pyyaml
Pillow
scipy
tqdm
psutil

#non essential dependencies:
kornia>=0.7.1
spandrel


comfyui-frontend-package==1.22.2
comfyui-workflow-templates==0.1.29
comfyui-embedded-docs==0.2.2
torchaudio
numpy>=1.25.0
tokenizers>=0.13.3
sentencepiece
yarl>=1.18.0
alembic
SQLAlchemy

#non essential dependencies:
soundfile
av>=14.2.0
pydantic~=2.0
pydantic-settings~=2.0